body{
    background-color: lightblue;
}
.navbarback{
    background-color: cornflowerblue;
}

.principal{
    margin-top: 10px;
}

.tableback{
    background-color: lightblue;
}

#btn{
    margin-top: 10px;
    padding: 5px;
    display: flex;
}

.formaluno{
    background-color: lightblue;
}